<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.yedocb.reservation.repository.ReservationMapper">

    <insert id="insertReservation" parameterType="Reservation">
        INSERT INTO reservations(uId, tName, consultDate, consultTime, status)
        VALUES (#{uId}, #{tName}, #{consultDate}, #{consultTime}, #{status})
    </insert>

    <select id="selectByUserId" resultType="Reservation">
        SELECT * FROM reservations WHERE uId = #{uId}
    </select>

    <update id="updateReservation" parameterType="Reservation">
        UPDATE reservations
        SET tName = #{tName}, consultDate = #{consultDate}, consultTime = #{consultTime}, status = #{status}
        WHERE rId = #{rId}
    </update>

    <delete id="deleteReservation" parameterType="int"> 
        DELETE FROM reservations WHERE rId = #{rId}
    </delete>

    <select id="selectAllReservation" resultType="Reservation">
        SELECT * FROM reservations
    </select>

    <select id="selectByDate" resultType="Reservation">
        SELECT * FROM reservations WHERE consultDate = #{consultDate}
    </select>

    <update id="updateStatus" parameterType="map">
	    UPDATE reservations
	    SET status = #{status}
	    WHERE rId = #{rId}
	</update>
    
    <select id="selectByDateTime" resultType="Reservation">
		SELECT * FROM reservations
		WHERE consultdate = #{consultDate} AND consulttime = #{consultTime}
	</select>

</mapper>
