<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.yedocb.user.repository.UserMapper">
    <!-- 로그인용 ID, 비밀번호 확인 -->
    <select id="selectByUIdAndPwd" parameterType="map" resultType="com.example.yedocb.user.entity.User">
        SELECT * FROM users
        WHERE uId = #{uId}
          AND uPwd = #{uPwd}
    </select>

    <!-- 전화번호 또는 비밀번호 수정 -->
    <update id="updateUserPhonePwd" parameterType="map">
        UPDATE users
        <set>
            <if test="phone != null"> uPhone = #{phone}, </if>
            <if test="pwd != null"> uPwd = #{pwd} </if>
        </set>
        WHERE uId = #{uId}
    </update>

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.example.yedocb.user.entity.User">
        INSERT INTO users (uId, uName, uEmail, uPwd, uPhone)
        VALUES (#{uId}, #{uName}, #{uEmail}, #{uPwd}, #{uPhone})
    </insert>

    <!-- 회원탈퇴 -->
    <delete id="deleteUser" parameterType="string">
        DELETE FROM users
        WHERE uId = #{uId}
    </delete>
    
    <!-- 이메일로 ID 조회 -->
    <select id="selectUIdByEmail" parameterType="string" resultType="string">
    	SELECT uId FROM users WHERE uEmail = #{uEmail}
	</select>
	
	<!-- 아이디로 이메일 조회 -->
	<select id="selectEmailByUId" parameterType="string" resultType="string">
    	SELECT uEmail FROM users WHERE uId = #{uId}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePassword" parameterType="map">
    	UPDATE users SET uPwd = #{pwd} WHERE uId = #{uId}
	</update>
	
	<!-- 회원 전체 조회 -->
	<select id="selectAllUsers" resultType="com.example.yedocb.user.entity.User">
    	SELECT * FROM users
	</select>

</mapper>
